public net.minecraft.client.gui.components.AbstractWidget f_93620_ # x
public net.minecraft.client.gui.components.AbstractWidget f_93621_ # y

public net.minecraft.client.gui.components.AbstractWidget f_93618_ # width
public net.minecraft.client.gui.components.AbstractWidget f_93619_ # height

public appeng.client.gui.widgets.SettingToggleButton$EnumPair

public appeng.client.gui.widgets.SettingToggleButton$ButtonAppearance # record class
public appeng.client.gui.widgets.SettingToggleButton$ButtonAppearance ButtonAppearance(Lappeng/client/gui/Icon;Lnet/minecraft/world/item/Item;Ljava/util/List;)V # record constructor
#appeng.client.gui.widgets.SettingToggleButton SettingToggleButton(Lappeng/api/config/Setting;Ljava/lang/Enum;Lappeng/client/gui/widgets/SettingToggleButton$IHandler;)V